Repository JoeyMckenzie/joeymckenzie.tech: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, javascript-linter, blade-linter

lefthook.yml:

pre-commit:
  commands:
    backend-linter:
      glob: "*.php"
      exclude: '(^|/)(resources/views/.*\.php|tests/.*\.php)$'
      run: |
        composer run lint {all_files}
        composer run rector {all_files}
      stage_fixed: true
    javascript-linter:
      glob: "*.{js,json}"
      run: npm run fmt:config {all_files}
      stage_fixed: true
    blade-linter:
      glob: "*.blade.php"
      run: npm run fmt:config {all_files}
      stage_fixed: true

pre-push:
  commands:
    ci:
      run: |
        composer run ci
        composer run test

chore: wip
  resources/views/components/_page-header.antlers.html
Due: none

chore: wip
  app/Console/Commands/WarmBlogCacheCommand.php
  public/assets/blog/.meta/img_9206.jpeg.yaml
  public/assets/blog/img_9206.jpeg
Due: backend-linter

chore: wip
  resources/blueprints/collections/articles/article.yaml
  resources/views/articles/index.antlers.html
  resources/views/articles/show.antlers.html
  resources/views/articles/topics/index.antlers.html
  resources/views/articles/topics/show.antlers.html
Due: none

chore: wip
  .gitignore
  content/collections/blogs/2025-05-11.content-caching-with-statamic.md
Due: none

chore: wip
  .github/dependabot.yml
  README.md
Due: none

chore: wip
  app/Console/Commands/WarmBlogCacheCommand.php
  app/Http/Middleware/HandleTheme.php
  bootstrap/app.php
  content/collections/blogs/2023-12-03.content-driven-websites-with-php-and-laravel.md
  content/globals/settings.yaml
  package-lock.json
  package.json
  resources/blueprints/globals/settings.yaml
  resources/css/site.css
  resources/js/theme.js
  resources/views/components/_theme-selector.antlers.html
  resources/views/layouts/default.antlers.html
Due: backend-linter, javascript-linter

chore: wip
  app/Console/Commands/WarmBlogCacheCommand.php
Due: backend-linter

feat: add sqlite post
  composer.json
  composer.lock
  content/collections/blogs/2025-05-20.avoiding-sqlite-collisions-while-paralleling-testing-with-pest.md
  public/assets/blog/.meta/363002a8-2928-4ea4-9683-e51d593c91ff_1_201_a.jpeg.yaml
  public/assets/blog/363002a8-2928-4ea4-9683-e51d593c91ff_1_201_a.jpeg
  resources/blueprints/collections/blogs/blog.yaml
  resources/blueprints/globals/settings.yaml
  resources/css/shiki.css
  resources/css/site.css
  resources/views/blogs/show.antlers.html
  tailwind.config.js
Due: javascript-linter

chore: wip
  resources/views/blogs/show.antlers.html
Due: none

chore: wip
  content/collections/blogs/2025-05-20.parallel-testing-with-pest-and-sqlite.md
  resources/views/errors/404.antlers.html
Due: none

chore: wip
  .prettierignore
  content/collections/blogs/2025-05-20.parallel-testing-with-pest-and-sqlite.md
Due: none

chore: wip
  composer.json
Due: javascript-linter

feat: add lfts
  content/collections/long_form_thoughts.yaml
  content/collections/pages/now.md
  content/collections/pages/thoughts.md
  content/trees/collections/pages.yaml
  package-lock.json
  resources/blueprints/collections/long_form_thoughts/long_form_thought.yaml
  resources/views/lfts/index.antlers.html
  resources/views/lfts/show.antlers.html
Due: javascript-linter

feat: add thoughts
  content/collections/long_form_thoughts.yaml
  content/collections/long_form_thoughts/2025-08-26.an-ode-to-dotnet.md
  content/collections/pages/blog.md
  content/collections/pages/now.md
  content/collections/pages/thoughts.md
  content/trees/navigation/main_nav.yaml
  resources/views/components/_page-header.antlers.html
  resources/views/lfts/index.antlers.html
  resources/views/lfts/partials/_lfts-listing.antlers.html
  resources/views/lfts/partials/_lfts-preview.antlers.html
Due: none

chore: wip
  AGENTS.md
  app/Actions/GetCurrentSpotifyStatusAction.php
  app/Console/Commands/WarmBlogCacheCommand.php
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
  composer.json
  composer.lock
  config/app.php
  config/logging.php
  config/mail.php
  config/markdown.php
  config/services.php
  config/spotify.php
  content/collections/blogs/2025-09-24.strictly-speaking-with-php-strict.md
  content/collections/long_form_thoughts/2025-08-26.an-ode-to-dotnet.md
  database/factories/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/0001_01_01_000001_create_cache_table.php
  database/migrations/0001_01_01_000002_create_jobs_table.php
  phpstan.neon
  rector.php
  resources/blueprints/collections/long_form_thoughts/long_form_thought.yaml
  routes/console.php
Due: backend-linter, javascript-linter

chore: wip
  content/collections/blogs/2025-09-24.strictly-speaking-with-php-strict.md
  resources/views/blogs/partials/_blog-listing.antlers.html
Due: none

chore: wip
  .junie/guidelines.md
  .junie/mcp/mcp.json
  .mcp.json
  .serena/.gitignore
  .serena/project.yml
  CLAUDE.md
  app/Actions/GetCurrentSpotifyStatusAction.php
  app/Actions/GetNowPlayingFromSpotifyAction.php
  app/Console/Commands/WarmBlogCacheCommand.php
  app/Data/Concerns/Defaultable.php
  app/Data/Concerns/MappableResponse.php
  app/Data/Spotify/AuthResponse.php
  app/Data/Spotify/NowPlayingResponse.php
  app/Providers/AppServiceProvider.php
  app/Services/Spotify/FakeConnector.php
  app/Services/Spotify/SpotifyConnector.php
  app/Services/Spotify/SpotifyConnectorContract.php
  app/Support/Spotify.php
  app/ValueObjects/SpotifyNowPlaying.php
  boost.json
  composer.json
  composer.lock
  identifier.sqlite
  phpstan.neon
  tests/Actions/GetNowPlayingFromSpotifyActionTest.php
Due: backend-linter, javascript-linter

chore: redesign
  .ai/guidelines/statamic.blade.php
  .mcp.json
  boost.json
  composer.lock
  content/collections/blogs.yaml
  content/collections/long_form_thoughts.yaml
  identifier.sqlite
  resources/css/site.css
  resources/views/blogs/partials/_blog-listing.antlers.html
  resources/views/blogs/partials/_blog-preview.antlers.html
  resources/views/components/_footer.antlers.html
  resources/views/components/_navbar.antlers.html
  resources/views/components/_page-header.antlers.html
  resources/views/layout.antlers.html
Due: backend-linter, javascript-linter, blade-linter

chore: wip
  resources/views/components/_navbar.antlers.html
  resources/views/components/_page-header.antlers.html
Due: none

chore: wip
  resources/views/components/_footer.antlers.html
  resources/views/components/_navbar.antlers.html
  resources/views/components/_page-header.antlers.html
Due: none

chore: wip
  .mcp.json
  app/Providers/AppServiceProvider.php
  app/Support/Spotify.php
  resources/css/site.css
  resources/views/blogs/partials/_blog-listing.antlers.html
  resources/views/blogs/partials/_blog-preview.antlers.html
  resources/views/components/_footer.antlers.html
  resources/views/components/_navbar.antlers.html
  resources/views/components/_page-header.antlers.html
  resources/views/components/_spotify-now-listening.antlers.html
  resources/views/layout.antlers.html
  resources/views/lfts/partials/_lfts-listing.antlers.html
  resources/views/lfts/partials/_lfts-preview.antlers.html
Due: backend-linter, javascript-linter

chore: wip
  app/Support/Spotify.php
  composer.json
  composer.lock
  resources/views/components/_footer.antlers.html
  resources/views/components/_spotify-now-listening.antlers.html
Due: backend-linter, javascript-linter

chore: wip
  resources/views/components/_navbar.antlers.html
Due: none

chore: wip
  resources/views/lfts/partials/_lfts-preview.antlers.html
Due: none

chore: wip
  content/collections/blogs/2021-08-27.build-a-tailwind-modal-with-angular-and-ngrx.md
  content/collections/blogs/2021-11-11.hitchhikers-guide-to-angular-development-with-nx.md
  content/collections/blogs/2023-07-11.back-to-the-server-with-rust-axum-and-htmx.md
  package-lock.json
  package.json
  public/css/tailwind.css
  public/vendor/icons-plus/build/assets/addon-fc5385ea.js
  resources/css/site.css
  resources/views/blogs/partials/_blog-preview.antlers.html
  resources/views/blogs/partials/_blog-topics.antlers.html
  resources/views/blogs/show.antlers.html
  resources/views/components/_footer.antlers.html
  resources/views/components/_navbar.antlers.html
  resources/views/components/_page-header.antlers.html
  resources/views/layout.antlers.html
  resources/views/lfts/partials/_lfts-preview.antlers.html
  resources/views/topics/index.antlers.html
  resources/views/topics/show.antlers.html
Due: javascript-linter

chore: wip
  content/collections/blogs/2023-12-03.content-driven-websites-with-php-and-laravel.md
  resources/views/lfts/show.antlers.html
Due: none

chore: wip
  .ai/guidelines/statamic.blade.php
  .mcp.json
  CLAUDE.md
  resources/views/blogs/partials/_blog-preview.antlers.html
  resources/views/blogs/show.antlers.html
  resources/views/lfts/show.antlers.html
Due: backend-linter, javascript-linter, blade-linter

feat: add code quality
  .cursor/rules/laravel-boost.mdc
  .gitignore
  .junie/guidelines.md
  AGENTS.md
  CLAUDE.md
  app/Http/Controllers/Controller.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
  bootstrap/providers.php
  composer.json
  composer.lock
  config/app.php
  config/auth.php
  config/cache.php
  config/database.php
  config/filesystems.php
  config/logging.php
  config/mail.php
  config/queue.php
  config/services.php
  config/session.php
  database/factories/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/0001_01_01_000001_create_cache_table.php
  database/migrations/0001_01_01_000002_create_jobs_table.php
  database/seeders/DatabaseSeeder.php
  phpstan.neon
  public/index.php
  rector.php
  routes/console.php
  routes/web.php
  tests/Feature/ExampleTest.php
  tests/TestCase.php
  tests/Unit/ExampleTest.php
Due: backend-linter, javascript-linter

chore: wip
  peck.json
  storage/debugbar/.gitignore
Due: javascript-linter

chore: wip
  .cursor/rules/laravel-boost.mdc
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  boost.json
  database/factories/UserFactory.php
  routes/web.php
  tests/Feature/SmokeTest.php
  tests/Unit/.gitkeep
  tests/Unit/ExampleTest.php
Due: backend-linter, javascript-linter

chore: wip
  .junie/mcp/mcp.json
  .mcp.json
  package-lock.json
  package.json
  resources/views/welcome.blade.php
Due: javascript-linter, blade-linter

chore: wip
  .serena/.gitignore
  .serena/memories/code_style.md
  .serena/memories/project_purpose.md
  .serena/memories/repo_structure.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/memories/tech_stack.md
  .serena/project.yml
  resources/css/app.css
  resources/js/app.js
  resources/views/welcome.blade.php
Due: javascript-linter, blade-linter

chore: wip
  resources/views/welcome.blade.php
Due: blade-linter

chore: updates
  resources/css/app.css
  resources/views/welcome.blade.php
Due: blade-linter
