Repository JoeyMckenzie/joeymckenzie.tech: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, javascript-linter, blade-linter

backend-linter:
  run: 'composer run lint {all_files}
  
    composer run rector {all_files}
  
    '
  stage_fixed: true

javascript-linter:
  run: npm run fmt:config {all_files}
  stage_fixed: true

blade-linter:
  run: npm run fmt:config {all_files}
  stage_fixed: true

chore: shell updates
  devenv.nix
Due: none

chore: fix alias for mino
  devenv.nix
Due: none

chore: cleanup
  devenv.nix
  resources/js/pages/home.tsx
  resources/js/pages/style-guide.tsx
  resources/js/pages/uses.tsx
  website
  website_test_1
  website_test_10
  website_test_11
  website_test_12
  website_test_2
  website_test_3
  website_test_4
  website_test_5
  website_test_6
  website_test_7
  website_test_8
  website_test_9
Due: none

Use simple-icons for social links, keep LinkedIn as raw SVG
  package.json
  pnpm-lock.yaml
  resources/js/components/social-links.tsx
Due: javascript-linter

chore: icon updates
  resources/js/components/social-links.tsx
Due: none

chore: cleanp
  app/Console/Commands/ImportPostsCommand.php
  app/Console/Commands/RerenderPostsCommand.php
  app/Console/Commands/SpotifyAuthorizeCommand.php
  app/Enums/Reaction.php
  app/Http/Controllers/BlogController.php
  app/Http/Controllers/Concerns/HasCoverUrl.php
  app/Http/Controllers/HomeController.php
  app/Http/Controllers/PostReactionController.php
  app/Models/Post.php
  app/Models/PostReaction.php
  app/Providers/AppServiceProvider.php
  app/Services/ImageProcessor.php
  app/Services/MarkdownRenderer.php
  app/Services/PostImporter.php
  app/Services/Spotify/NowPlayingData.php
  app/Services/Spotify/SpotifyService.php
  app/Support/VisitorHash.php
  database/factories/PostReactionFactory.php
  database/seeders/PostSeeder.php
  resources/js/pages/blog/index.tsx
  resources/js/pages/home.tsx
  tests/Feature/Blog/PostReactionTest.php
  tests/Feature/Models/BlogModelsTest.php
Due: backend-linter

feat: scaffold admin ui
  .backlog/tasks/joey-15 - Base-UI-submit-buttons-never-submit-their-form.md
  .backlog/tasks/joey-5.1 - Admin-post-CRUD-with-draft-publish-and-scheduling.md
  app/Enums/PostStatus.php
  app/Http/Controllers/Admin/PostController.php
  app/Http/Controllers/Concerns/HasCoverUrl.php
  app/Http/Controllers/HomeController.php
  app/Http/Requests/Admin/PostRequest.php
  app/Models/Post.php
  app/Services/PostImporter.php
  app/Support/BlogCache.php
  app/Support/ReadingTime.php
  composer.json
  database/migrations/2026_07_31_212841_make_posts_image_nullable.php
  resources/js/components/admin/delete-post-dialog.tsx
  resources/js/components/admin/post-form.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/nav-main.tsx
  resources/js/components/ui/table.tsx
  resources/js/components/ui/textarea.tsx
  resources/js/pages/admin/posts/create.tsx
  resources/js/pages/admin/posts/edit.tsx
  resources/js/pages/admin/posts/index.tsx
  resources/js/pages/auth/confirm-password.tsx
  resources/js/pages/auth/forgot-password.tsx
  resources/js/pages/auth/verify-email.tsx
  resources/js/pages/settings/profile.tsx
  resources/js/pages/settings/security.tsx
  resources/js/types/admin.ts
  resources/js/types/index.ts
  routes/admin.php
  routes/web.php
  tests/Feature/Admin/PostDestroyTest.php
  tests/Feature/Admin/PostIndexTest.php
  tests/Feature/Admin/PostStoreTest.php
  tests/Feature/Admin/PostUpdateTest.php
  tests/Unit/Support/ReadingTimeTest.php
Due: backend-linter, javascript-linter

feat: add admin editing
  .backlog/tasks/joey-5.2 - Markdown-editor-with-server-rendered-preview-and-image-upload.md
  app/Http/Controllers/Admin/PostImageController.php
  app/Http/Controllers/Admin/PostPreviewController.php
  app/Http/Requests/Admin/PostImageRequest.php
  app/Http/Requests/Admin/PostPreviewRequest.php
  package.json
  pnpm-lock.yaml
  resources/js/components/admin/markdown-editor.tsx
  resources/js/components/admin/post-form.tsx
  resources/js/components/blog/rendered-markdown.tsx
  resources/js/hooks/use-debounced-value.ts
  resources/js/hooks/use-markdown-preview.ts
  resources/js/hooks/use-mermaid.ts
  resources/js/hooks/use-post-image-upload.ts
  resources/js/pages/admin/posts/create.tsx
  resources/js/pages/admin/posts/edit.tsx
  resources/js/pages/blog/show.tsx
  routes/admin.php
  tests/Feature/Admin/PostImageUploadTest.php
  tests/Feature/Admin/PostPreviewTest.php
Due: backend-linter, javascript-linter

backlog: idea board
  .backlog/tasks/joey-16 - Ideas-board-—-blog-idea-Kanban-pipeline.md
  .backlog/tasks/joey-16.1 - Ideas-schema-Idea-model-IdeaStage-enum-and-factory.md
  .backlog/tasks/joey-16.2 - Idea-CRUD-backend-controller-requests-routes.md
  .backlog/tasks/joey-16.3 - Kanban-board-UI-with-dnd-kit-and-optimistic-move-endpoint.md
  .backlog/tasks/joey-16.4 - Graduation-seed-a-Post-draft-from-a-Ready-idea.md
  .backlog/tasks/joey-16.5 - Shipped-trophy-lane-and-Dismissed-view-fast-follow.md
  docs/adr/0005-ideas-board-stores-stage-derives-graduated-and-dismissed.md
Due: none

fix: select dropdown
  .backlog/tasks/joey-5 - Post-authoring-admin-dashboard.md
  .backlog/tasks/joey-5.3 - Inline-tag-creation-from-the-editor.md
  .backlog/tasks/joey-5.4 - Reliable-post-save-and-update-success-toasts.md
  app/Http/Controllers/Admin/PostController.php
  app/Http/Requests/Admin/PostRequest.php
  resources/js/components/admin/post-form.tsx
  resources/js/components/ui/select.tsx
  tests/Feature/Admin/PostStoreTest.php
Due: backend-linter

feat(blog): update editor
  .backlog/tasks/joey-5.5 - Nocturne-visual-pass-for-admin-post-editor.md
  .backlog/tasks/joey-5.6 - Nocturne-visual-pass-for-admin-app-shell.md
  .backlog/tasks/joey-5.7 - Nocturne-visual-pass-for-admin-post-index.md
  docs/adr/0006-nocturne-expands-into-admin-by-bounded-surfaces.md
  resources/css/app.css
  resources/js/components/admin/markdown-editor.tsx
  resources/js/components/admin/post-editor-header.tsx
  resources/js/components/admin/post-form.tsx
  resources/js/hooks/use-synchronized-scroll.ts
  resources/js/pages/admin/posts/create.tsx
  resources/js/pages/admin/posts/edit.tsx
Due: none

feat: update sidebar styling
  .backlog/tasks/joey-5.6 - Nocturne-visual-pass-for-admin-app-shell.md
  resources/css/app.css
  resources/js/components/app-content.tsx
  resources/js/components/app-logo.tsx
  resources/js/components/app-shell.tsx
  resources/js/components/app-sidebar-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/breadcrumbs.tsx
  resources/js/components/nav-footer.tsx
  resources/js/components/nav-main.tsx
  resources/js/components/nav-user.tsx
  resources/js/components/ui/sidebar.tsx
  resources/js/components/user-info.tsx
  resources/js/components/user-menu-content.tsx
Due: none

feat: update blog index
  .backlog/tasks/joey-17 - Strip-retired-storage_key-field-from-legacy-content-posts-Markdown.md
  .backlog/tasks/joey-5.7 - Nocturne-visual-pass-for-admin-post-index.md
  .backlog/tasks/joey-5.8 - Export-post-to-Markdown-from-admin-index.md
  resources/css/app.css
  resources/js/components/admin/delete-post-dialog.tsx
  resources/js/pages/admin/posts/index.tsx
  tests/Feature/Admin/PostIndexTest.php
Due: none

chore: cleanup
  resources/js/components/app-sidebar.tsx
Due: none

feat: add rss feed and sitemap
  .backlog/tasks/joey-10 - RSS-feed-and-sitemap.md
  app/Http/Controllers/FeedController.php
  app/Http/Controllers/SitemapController.php
  routes/web.php
  tests/Feature/Blog/FeedTest.php
  tests/Feature/Blog/SitemapTest.php
Due: backend-linter

chore: dashoard editing cleanup
  resources/js/components/admin/markdown-editor.tsx
  resources/js/components/admin/post-form.tsx
Due: none

chore: audit fixes
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: audits
  pnpm-lock.yaml
Due: none

chore: update backlog
  .backlog/tasks/joey-18 - Add-in-app-blog-post-review-agent.md
Due: none

feat: add review agent
  .backlog/tasks/joey-18 - Add-in-app-blog-post-review-agent.md
  .backlog/tasks/joey-18.1 - Improve-blog-review-diagnostics-and-timeout-handling.md
  .backlog/tasks/joey-18.2 - Move-blog-post-review-to-a-background-job-with-Inertia-polling.md
  .backlog/tasks/joey-19 - Add-dashboard-nav-button-visible-only-to-the-authenticated-owner.md
  .env.example
  app/Ai/Agents/BlogPostReviewer.php
  app/Ai/Middleware/LogBlogPostReview.php
  app/Enums/PostReviewCategory.php
  app/Exceptions/InvalidPostReview.php
  app/Exceptions/PostReviewRuntimeTimeoutMismatch.php
  app/Http/Controllers/Admin/PostController.php
  app/Http/Controllers/Admin/PostReviewController.php
  app/Models/Post.php
  app/Services/PostReviewService.php
  composer.json
  composer.lock
  config/ai.php
  database/migrations/2026_08_04_060117_add_latest_review_to_posts_table.php
  devenv.nix
  resources/js/components/admin/markdown-editor.tsx
  resources/js/components/admin/post-form.tsx
  resources/js/components/admin/post-review-panel.tsx
  resources/js/hooks/use-post-review.ts
  resources/js/pages/admin/posts/edit.tsx
  resources/js/types/admin.ts
  routes/admin.php
  tests/Feature/Admin/PostReviewTest.php
Due: backend-linter, javascript-linter

chore: cleanup review implementation
  .backlog/tasks/joey-18.2 - Move-blog-post-review-to-a-background-job-with-Inertia-polling.md
  .env.example
  .gitignore
  app/Enums/PostReviewStatus.php
  app/Exceptions/PostReviewTimeoutMismatch.php
  app/Http/Controllers/Admin/PostController.php
  app/Http/Controllers/Admin/PostReviewController.php
  app/Jobs/ReviewPost.php
  app/Models/Post.php
  app/Services/PostReviewService.php
  config/ai.php
  database/migrations/2026_08_04_191557_add_review_status_to_posts_table.php
  devenv.nix
  resources/js/components/admin/post-form.tsx
  resources/js/components/admin/post-review-panel.tsx
  resources/js/hooks/use-post-review.ts
  resources/js/types/admin.ts
  tests/Feature/Admin/PostReviewTest.php
  tests/Feature/Admin/ReviewPostJobTest.php
Due: backend-linter

chore: fix apply
  .backlog/tasks/joey-18.3 - Apply-review-suggestions-to-post-content-from-the-review-panel.md
  app/Ai/Agents/BlogPostReviewer.php
  app/Services/PostReviewService.php
  package.json
  pnpm-lock.yaml
  resources/js/components/admin/markdown-editor.tsx
  resources/js/components/admin/post-form.tsx
  resources/js/components/admin/post-review-panel.tsx
  resources/js/lib/apply-replacement.test.ts
  resources/js/lib/apply-replacement.ts
  resources/js/types/admin.ts
  tests/Feature/Admin/PostReviewTest.php
  tests/Feature/Admin/ReviewPostJobTest.php
  vitest.config.ts
Due: backend-linter, javascript-linter

chore: mark JOEY-18.3 done
  .backlog/tasks/joey-18.3 - Apply-review-suggestions-to-post-content-from-the-review-panel.md
Due: none

fix: seo tags
  .backlog/tasks/joey-20 - Open-Graph-Twitter-Card-and-canonical-SEO-metadata-for-public-pages.md
  app/Http/Middleware/HandleInertiaRequests.php
  config/inertia.php
  resources/js/components/seo.tsx
  resources/js/pages/blog/index.tsx
  resources/js/pages/blog/show.tsx
  resources/js/pages/cv.tsx
  resources/js/pages/home.tsx
  resources/js/pages/now.tsx
  resources/js/pages/uses.tsx
  resources/js/types/global.d.ts
  tests/Feature/Blog/BlogShowTest.php
  tests/Feature/Home/HomePageTest.php
Due: backend-linter

feat: init devenv
  .envrc
  .gitignore
  devenv.lock
  devenv.nix
  devenv.yaml
  package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: javascript-linter

chore: formatting
  .vscode/extensions.json
  .vscode/launch.json
  astro.config.mjs
  devenv.nix
  devenv.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/consts.ts
  src/content.config.ts
  src/content/blog/first-post.md
  src/content/blog/markdown-style-guide.md
  src/content/blog/second-post.md
  src/content/blog/third-post.md
  src/content/blog/using-mdx.mdx
  src/layouts/BlogPost.astro
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/styles/global.css
  tsconfig.json
Due: javascript-linter

feat: add eslint
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/HeaderLink.astro
Due: javascript-linter

chore: add laravibing
  src/assets/blog/artisanally-laravibing/backlog-board.webp
  src/assets/blog/artisanally-laravibing/backlog-ticket.webp
  src/assets/blog/artisanally-laravibing/manager-meme.webp
  src/assets/blog/artisanally-laravibing/tuicr.webp
  src/assets/blog/who-is-json.webp
  src/components/Footer.astro
  src/components/Header.astro
  src/components/PostCard.astro
  src/components/PostList.astro
  src/components/SocialLinks.astro
  src/content/blog/artisanlly-laravibing.md
  src/pages/blog/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: none

chore: cleanup
  .gitignore
  astro.config.mjs
  package.json
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/PostCard.astro
  src/components/SocialLinks.astro
  src/components/ThemeToggle.astro
  src/content/blog/artisanally-laravibing.md
  src/layouts/BlogPost.astro
  src/layouts/Page.astro
  src/pages/blog/index.astro
  src/pages/colophon.astro
  src/pages/cv.astro
  src/pages/index.astro
  src/pages/now.astro
  src/pages/uses.astro
  src/styles/global.css
Due: javascript-linter

refactor: ts config for astro
  astro.config.ts
Due: none

refactor(ui): design sweep
  astro.config.ts
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/PostCard.astro
  src/components/StatusLine.astro
  src/components/WinBar.astro
  src/layouts/BlogPost.astro
  src/layouts/Page.astro
  src/lib/reading.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/colophon.astro
  src/pages/cv.astro
  src/pages/index.astro
  src/pages/now.astro
  src/pages/uses.astro
  src/styles/global.css
Due: none

refactor(ui): design cleanup
  astro.config.ts
  eslint.config.js
  prettier.config.js
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/PostCard.astro
  src/components/SocialLinks.astro
  src/components/StatusLine.astro
  src/components/ThemeToggle.astro
  src/components/WinBar.astro
  src/consts.ts
  src/content.config.ts
  src/layouts/BlogPost.astro
  src/layouts/Page.astro
  src/lib/reading.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/colophon.astro
  src/pages/cv.astro
  src/pages/index.astro
  src/pages/now.astro
  src/pages/rss.xml.js
  src/pages/uses.astro
  src/styles/global.css
Due: javascript-linter

deps: add tailwind
  package.json
  pnpm-lock.yaml
  src/layouts/BlogPost.astro
  src/layouts/Page.astro
  src/styles/global.css
Due: javascript-linter

refactor(ui): to tailwind we go
  astro.config.ts
  src/components/Footer.astro
  src/components/Header.astro
  src/components/PostCard.astro
  src/components/SocialLinks.astro
  src/components/StatusLine.astro
  src/components/ThemeToggle.astro
  src/layouts/BlogPost.astro
  src/layouts/Page.astro
  src/pages/blog/index.astro
  src/pages/colophon.astro
  src/pages/cv.astro
  src/pages/index.astro
  src/pages/now.astro
  src/pages/uses.astro
  src/styles/base.css
  src/styles/global.css
Due: none

chore(ui): cleanup
  src/components/Footer.astro
  src/pages/cv.astro
  src/pages/index.astro
Due: none

chore: cleanup
  wrangler.jsonc
Due: none

chore: fix deploys
  package.json
Due: javascript-linter

chore: cleanup
  src/content.config.ts
Due: none

Path conditions:
  backend-linter: any of: *.php, but not: (^|/)(resources/views/.*\.php|tests/.*\.php)$
  javascript-linter: any of: *.{js,json}
  blade-linter: any of: *.blade.php
