Repository JoeyMckenzie/joeymckenzie.tech: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, javascript-linter, blade-linter

backend-linter:
  run: 'composer run lint {all_files}
  
    composer run rector {all_files}
  
    '
  stage_fixed: true

javascript-linter:
  run: npm run fmt:config {all_files}
  stage_fixed: true

blade-linter:
  run: npm run fmt:config {all_files}
  stage_fixed: true

Squash merge refresh/minimalist-mono into main
  .agents/skills/brandkit/SKILL.md
  .agents/skills/design-taste-frontend-v1/SKILL.md
  .agents/skills/full-output-enforcement/SKILL.md
  .agents/skills/gpt-taste/SKILL.md
  .agents/skills/high-end-visual-design/SKILL.md
  .agents/skills/image-to-code/SKILL.md
  .agents/skills/imagegen-frontend-mobile/SKILL.md
  .agents/skills/imagegen-frontend-web/SKILL.md
  .agents/skills/industrial-brutalist-ui/SKILL.md
  .agents/skills/minimalist-ui/SKILL.md
  .agents/skills/redesign-existing-projects/SKILL.md
  .agents/skills/stitch-design-taste/DESIGN.md
  .agents/skills/stitch-design-taste/SKILL.md
  .claude/skills/stop-slop/SKILL.md
  .claude/skills/stop-slop/references/examples.md
  .claude/skills/stop-slop/references/phrases.md
  .claude/skills/stop-slop/references/structures.md
  resources/css/app.css
  resources/js/components/post-preview-card.tsx
  resources/js/components/ui/animated-shiny-text.tsx
  resources/js/components/ui/dot-pattern.tsx
  resources/js/components/ui/magic-card.tsx
  resources/js/layouts/blog-layout.tsx
  resources/js/pages/home.tsx
  resources/views/app.blade.php
  skills-lock.json
Due: javascript-linter, blade-linter

chore: audit fixes
  composer.lock
  package-lock.json
Due: javascript-linter

chore: add laravel cloud deploy skills
  .ai/skills/deploying-laravel-cloud/SKILL.md
  .ai/skills/deploying-laravel-cloud/reference/checklists.md
  .claude/skills/ai-sdk-development/SKILL.md
  .claude/skills/deploying-laravel-cloud
  .claude/skills/fortify-development/SKILL.md
  .claude/skills/inertia-react-development/SKILL.md
  .claude/skills/laravel-best-practices/SKILL.md
  .claude/skills/laravel-best-practices/rules/architecture.md
  .claude/skills/laravel-best-practices/rules/caching.md
  .claude/skills/laravel-best-practices/rules/collections.md
  .claude/skills/laravel-best-practices/rules/config.md
  .claude/skills/laravel-best-practices/rules/db-performance.md
  .claude/skills/laravel-best-practices/rules/eloquent.md
  .claude/skills/laravel-best-practices/rules/http-client.md
  .claude/skills/laravel-best-practices/rules/migrations.md
  .claude/skills/laravel-best-practices/rules/queue-jobs.md
  .claude/skills/laravel-best-practices/rules/routing.md
  .claude/skills/laravel-best-practices/rules/security.md
  .claude/skills/laravel-best-practices/rules/style.md
  .claude/skills/laravel-best-practices/rules/validation.md
  .claude/skills/socialite-development/SKILL.md
  .claude/skills/tailwindcss-development/SKILL.md
  .claude/skills/wayfinder-development/SKILL.md
  CLAUDE.md
  boost.json
Due: javascript-linter

feat: prep for cloud deploy
  .env.example
  .github/workflows/ci.yml
  devenv.nix
  phpunit.xml
Due: none

chore: clearnup
  .ai/skills/deploying-laravel-cloud/SKILL.md
  .claude/skills/ai-sdk-development/SKILL.md
  .claude/skills/fortify-development/SKILL.md
  .claude/skills/inertia-react-development/SKILL.md
  .claude/skills/laravel-best-practices/SKILL.md
  .claude/skills/laravel-best-practices/rules/architecture.md
  .claude/skills/laravel-best-practices/rules/caching.md
  .claude/skills/laravel-best-practices/rules/collections.md
  .claude/skills/laravel-best-practices/rules/config.md
  .claude/skills/laravel-best-practices/rules/db-performance.md
  .claude/skills/laravel-best-practices/rules/eloquent.md
  .claude/skills/laravel-best-practices/rules/http-client.md
  .claude/skills/laravel-best-practices/rules/migrations.md
  .claude/skills/laravel-best-practices/rules/queue-jobs.md
  .claude/skills/laravel-best-practices/rules/routing.md
  .claude/skills/laravel-best-practices/rules/security.md
  .claude/skills/laravel-best-practices/rules/style.md
  .claude/skills/laravel-best-practices/rules/validation.md
  .claude/skills/socialite-development/SKILL.md
  .claude/skills/tailwindcss-development/SKILL.md
  .claude/skills/wayfinder-development/SKILL.md
  .github/workflows/ci.yml
  CLAUDE.md
  Justfile
  boost.json
  config/inertia.php
  devenv.nix
  tests/TestCase.php
Due: backend-linter, javascript-linter

chore: update devenv
  devenv.lock
  devenv.yaml
Due: none

chore: fix ci
  .github/workflows/ci.yml
  devenv.nix
  phpunit.xml
Due: none

chore: cleanup
  config/database.php
Due: backend-linter

chore: update nav stuff
  resources/js/components/command-terminal.tsx
  resources/js/components/ui/kbd.tsx
  resources/js/layouts/blog-layout.tsx
  resources/js/pages/blog/index.tsx
  resources/js/pages/cv.tsx
  resources/js/pages/home.tsx
  resources/js/pages/now.tsx
  resources/js/pages/uses.tsx
Due: none

chore: cleanup
  CLAUDE.md
Due: none

deps: add phpstan plugins
  composer.json
  composer.lock
Due: javascript-linter

feat: add skills
  .agents/skills/migrate-radix-to-base/SKILL.md
  .agents/skills/migrate-radix-to-base/class-mapping.md
  .agents/skills/migrate-radix-to-base/consumer-props.md
  .agents/skills/migrate-radix-to-base/disclosure.md
  .agents/skills/migrate-radix-to-base/display-misc.md
  .agents/skills/migrate-radix-to-base/form-controls.md
  .agents/skills/migrate-radix-to-base/menus.md
  .agents/skills/migrate-radix-to-base/overlays.md
  .agents/skills/migrate-radix-to-base/universal-patterns.md
  .agents/skills/migrate-radix-to-base/wrapper-shapes.md
  .agents/skills/shadcn/SKILL.md
  .agents/skills/shadcn/agents/openai.yml
  .agents/skills/shadcn/assets/shadcn-small.png
  .agents/skills/shadcn/assets/shadcn.png
  .agents/skills/shadcn/cli.md
  .agents/skills/shadcn/customization.md
  .agents/skills/shadcn/evals/evals.json
  .agents/skills/shadcn/mcp.md
  .agents/skills/shadcn/registry.md
  .agents/skills/shadcn/rules/base-vs-radix.md
  .agents/skills/shadcn/rules/chat.md
  .agents/skills/shadcn/rules/composition.md
  .agents/skills/shadcn/rules/forms.md
  .agents/skills/shadcn/rules/icons.md
  .agents/skills/shadcn/rules/styling.md
  .ai/guidelines/code-conventions.md
  .claude/skills/migrate-radix-to-base
  .claude/skills/shadcn
  skills-lock.json
Due: javascript-linter

chore: cleanup
  devenv.nix
  resources/js/components/user-menu-content.tsx
Due: none

chore: cleanup
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
  resources/js/components/user-menu-content.tsx
  resources/js/layouts/settings/layout.tsx
Due: backend-linter

chore: test cleanup
  AGENTS.md
  CLAUDE.md
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/Auth/TwoFactorChallengeTest.php
  tests/Feature/Auth/VerificationNotificationTest.php
  tests/Feature/DashboardTest.php
  tests/Feature/ExampleTest.php
  tests/Feature/Settings/ProfileUpdateTest.php
  tests/Feature/Settings/SecurityTest.php
  tests/Unit/ExampleTest.php
Due: none

feat: nuke registration
  .backlog/tasks/joey-2 - Disable-public-registration-and-add-a-users-create-command.md
  app/Console/Commands/CreateUser.php
  app/Providers/FortifyServiceProvider.php
  config/fortify.php
  resources/js/pages/auth/login.tsx
  resources/js/pages/auth/register.tsx
  resources/js/pages/welcome.tsx
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/Console/CreateUserCommandTest.php
Due: backend-linter

feat: add models
  .backlog/tasks/joey-3 - Blog-schema-models-factories-tag-seeder-and-reaction-enum.md
  .gitignore
  app/Models/Post.php
  app/Models/PostReaction.php
  app/Models/PostView.php
  app/Models/Tag.php
  app/Models/User.php
  app/Reaction.php
  composer.json
  composer.lock
  database/factories/PostFactory.php
  database/factories/PostReactionFactory.php
  database/factories/PostViewFactory.php
  database/factories/TagFactory.php
  database/migrations/2026_07_29_234538_create_tags_table.php
  database/migrations/2026_07_29_234541_create_posts_table.php
  database/migrations/2026_07_29_234550_create_post_views_table.php
  database/migrations/2026_07_29_234556_create_post_reactions_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/TagSeeder.php
  phpunit.xml
  tests/Feature/Models/BlogModelsTest.php
Due: backend-linter, javascript-linter

feat: add blog index
  .agents/skills/stop-slop/SKILL.md
  .agents/skills/stop-slop/references/examples.md
  .agents/skills/stop-slop/references/phrases.md
  .agents/skills/stop-slop/references/structures.md
  .backlog/tasks/joey-4.1 - Establish-blog-visual-design-direction.md
  .backlog/tasks/joey-4.2 - Blog-index-page-redesigned.md
  .backlog/tasks/joey-8 - Blog-read-controllers-index-and-show-with-search-and-view-tracking.md
  .gitignore
  app/Http/Controllers/BlogController.php
  database/seeders/DatabaseSeeder.php
  database/seeders/PostSeeder.php
  docs/design/nocturne.md
  resources/css/app.css
  resources/js/app.tsx
  resources/js/components/blog/post-card.tsx
  resources/js/lib/mermaid-theme.ts
  resources/js/pages/blog/index.tsx
  resources/js/pages/style-guide.tsx
  resources/js/types/blog.ts
  routes/web.php
  tests/Feature/Blog/BlogIndexTest.php
  vite.config.ts
Due: backend-linter

feat: add post reactions
  .backlog/tasks/joey-4 - Redesign-public-blog-frontend.md
  .backlog/tasks/joey-4.3 - Blog-post-page-with-reactions-and-view-count.md
  .backlog/tasks/joey-8 - Blog-read-controllers-index-and-show-with-search-and-view-tracking.md
  .backlog/tasks/joey-9 - Post-reactions-API.md
  app/Http/Controllers/BlogController.php
  app/Http/Controllers/PostReactionController.php
  app/Support/VisitorHash.php
  database/seeders/PostSeeder.php
  package.json
  pnpm-lock.yaml
  resources/css/app.css
  resources/js/components/blog/reactions.tsx
  resources/js/lib/mermaid-theme.ts
  resources/js/pages/blog/show.tsx
  routes/web.php
  tests/Feature/Blog/BlogShowTest.php
  tests/Feature/Blog/PostReactionTest.php
Due: backend-linter, javascript-linter

feat: images importer
  .backlog/tasks/joey-11 - posts-import-backfill-command-one-time-legacy-migration.md
  .backlog/tasks/joey-12 - Share-MCP-configuration-across-coding-agents.md
  .backlog/tasks/joey-13 - Port-public-site-pages-to-Nocturne.md
  .backlog/tasks/joey-13.1 - Shared-public-layout-nav-statusline-footer-retrofit-blog-pages.md
  .backlog/tasks/joey-13.2 - Home-page-Nocturne-hero-recent-posts.md
  .backlog/tasks/joey-13.3 - Static-pages-now-uses-cv-Nocturne.md
  .backlog/tasks/joey-13.4 - Error-page-Nocturne.md
  .backlog/tasks/joey-13.5 - Spotify-now-playing-backend-footer-widget.md
  .backlog/tasks/joey-14 - Guestbook-with-GitHub-sign-in-deferred-fast-follow.md
  .backlog/tasks/joey-6 - MarkdownRenderer-service-and-posts-rerender-command.md
  .backlog/tasks/joey-7 - Image-processing-pipeline-to-R2.md
  .gitignore
  app/Console/Commands/ImportPostsCommand.php
  app/Console/Commands/RerenderPostsCommand.php
  app/Http/Controllers/BlogController.php
  app/Services/CommonMark/MermaidExtension.php
  app/Services/CommonMark/MermaidRenderer.php
  app/Services/ImageProcessor.php
  app/Services/MarkdownRenderer.php
  app/Services/PostImporter.php
  boost.json
  config/blog.php
  devenv.nix
  opencode.json
  phpunit.xml
  resources/css/app.css
  tests/Feature/Blog/ImageProcessorTest.php
  tests/Feature/Blog/MarkdownRendererTest.php
  tests/Feature/Blog/PostImporterTest.php
  tests/Feature/Blog/RerenderPostsCommandTest.php
Due: backend-linter, javascript-linter

feat: JOEY-13.5 Spotify now-playing + JOEY-13.1 PublicLayout chrome
  .backlog/tasks/joey-13.1 - Shared-public-layout-nav-statusline-footer-retrofit-blog-pages.md
  app/Http/Controllers/SpotifyNowPlayingController.php
  app/Services/Spotify/NowPlayingData.php
  app/Services/Spotify/SpotifyService.php
  config/services.php
  resources/js/app.tsx
  resources/js/components/social-links.tsx
  resources/js/components/spotify-now-playing.tsx
  resources/js/layouts/public-layout.tsx
  resources/js/pages/blog/index.tsx
  resources/js/pages/blog/show.tsx
  resources/js/pages/style-guide.tsx
  routes/web.php
  tests/Feature/Spotify/NowPlayingTest.php
Due: backend-linter

feat: complete JOEY-13 public Nocturne migration
  .backlog/tasks/joey-13 - Port-public-site-pages-to-Nocturne.md
  .backlog/tasks/joey-13.2 - Home-page-Nocturne-hero-recent-posts.md
  .backlog/tasks/joey-13.3 - Static-pages-now-uses-cv-Nocturne.md
  .backlog/tasks/joey-13.4 - Error-page-Nocturne.md
  .backlog/tasks/joey-13.5 - Spotify-now-playing-backend-footer-widget.md
  app/Http/Controllers/HomeController.php
  app/Http/Controllers/SpotifyNowPlayingController.php
  app/Services/Spotify/NowPlayingData.php
  app/Services/Spotify/SpotifyService.php
  bootstrap/app.php
  resources/css/app.css
  resources/js/components/blog/post-card.tsx
  resources/js/components/scroll-fade.tsx
  resources/js/layouts/public-layout.tsx
  resources/js/pages/cv.tsx
  resources/js/pages/error.tsx
  resources/js/pages/home.tsx
  resources/js/pages/now.tsx
  resources/js/pages/uses.tsx
  routes/web.php
  tests/Feature/Home/HomePageTest.php
  tests/Feature/Public/ErrorPageTest.php
  tests/Feature/Public/StaticPagesTest.php
  tests/Feature/Spotify/NowPlayingTest.php
Due: backend-linter

chore: audit fix
  pnpm-workspace.yaml
Due: none

chore: audit fix part duex
  package.json
  pnpm-lock.yaml
Due: javascript-linter

ci: enable push hook
  .github/workflows/ci.yml
Due: none

ci: fix tests
  .github/workflows/ci.yml
Due: none

chore: bypass migration
  app/Providers/AppServiceProvider.php
Due: backend-linter

chore: fixes
  app/Providers/AppServiceProvider.php
Due: backend-linter

chore: trying something crazy
  app/Providers/AppServiceProvider.php
  app/Services/PostImporter.php
Due: backend-linter

chore: fix image store
  app/Services/ImageProcessor.php
Due: backend-linter

chore: cleanup
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  resources/js/components/blog/post-card.tsx
  resources/js/pages/blog/show.tsx
  resources/js/pages/now.tsx
  resources/js/pages/uses.tsx
  resources/views/app.blade.php
Due: blade-linter

chore: add nighwatch
  composer.json
  composer.lock
Due: javascript-linter

chore: verbiage
  resources/js/pages/home.tsx
Due: none

feat: add spotify refresh
  app/Console/Commands/SpotifyAuthorizeCommand.php
  app/Services/Spotify/SpotifyService.php
  tests/Feature/Spotify/SpotifyServiceTest.php
Due: backend-linter

Path conditions:
  backend-linter: any of: *.php, but not: (^|/)(resources/views/.*\.php|tests/.*\.php)$
  javascript-linter: any of: *.{js,json}
  blade-linter: any of: *.blade.php
