Repository JoeyMckenzie/joeymckenzie.tech: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, javascript-linter, blade-linter

backend-linter:
  run: 'composer run lint {all_files}
  
    composer run rector {all_files}
  
    '
  stage_fixed: true

javascript-linter:
  run: npm run fmt:config {all_files}
  stage_fixed: true

blade-linter:
  run: npm run fmt:config {all_files}
  stage_fixed: true

chore: wip
  resources/views/livewire/pages/now.blade.php
Due: blade-linter

chore: wip
  app/Support/Seo/StructuredData.php
Due: backend-linter

chore: wip
  app/Models/Post.php
  app/Services/Sitemapper.php
  phpstan-baseline.neon
  phpstan.neon
Due: backend-linter

chore: wip
  .junie/guidelines.md
  AGENTS.md
  CLAUDE.md
  app/Services/CommonMark/MermaidExtension.php
  app/Services/CommonMark/MermaidRenderer.php
  app/Services/CommonMarkHighlighter.php
  composer.lock
  content/posts/2025-09-24-joyful-facades-and-how-to-write-them.md
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/app.js
Due: backend-linter, javascript-linter

chore: cleanup
  app/Livewire/Pages/BlogPost.php
  app/Services/CommonMark/CommonMarkHighlighter.php
  content/posts/2025-09-24-joyful-facades-and-how-to-write-them.md
  package-lock.json
  resources/css/app.css
Due: backend-linter, javascript-linter

feat: add blog post
  content/posts/2025-12-25-yet-another-blog-post-about-neovim-with-laravel.md
Due: none

docs: update post
  content/posts/2025-12-25-yet-another-blog-post-about-neovim-with-laravel.md
  public/assets/images/tmux_neovim_meme.jpeg
Due: none

style: add copy button CSS for code blocks
  resources/css/app.css
Due: none

feat: add copy button functionality for code blocks
  resources/js/app.js
Due: javascript-linter

fix: prevent duplicate code copy button initialization on re-render
  resources/js/app.js
Due: javascript-linter

feat: color changes
  .gitignore
  content/posts/2025-12-25-yet-another-blog-post-about-neovim-with-laravel.md
  resources/css/app.css
Due: none

chore: wip
  content/posts/2025-12-25-yet-another-blog-post-about-neovim-with-laravel.md
Due: none

chore: wip
  content/posts/2026-01-05-yet-another-blog-post-about-neovim-with-laravel.md
Due: none

feat: publish post
  content/posts/2026-01-21-yet-another-blog-post-about-neovim-with-laravel.md
  resources/views/livewire/pages/blog-post.blade.php
Due: blade-linter

feat: migrate to nix
  .envrc
  .gitignore
  bootstrap/app.php
  content/posts/2025-09-24-joyful-facades-and-how-to-write-them.md
  content/posts/2026-02-22-devenvs-with-nix-and-laravel.md
  devenv.lock
  devenv.nix
  package-lock.json
  package.json
Due: backend-linter, javascript-linter

chore: devenv cleanup
  .config/wt.toml
  .env.example
  devenv.nix
  devenv.yaml
Due: none

feat: flesh out nix blog
  .config/wt.toml
  app/Http/Controllers/HomeController.php
  app/Models/Post.php
  content/posts/2026-02-22-devenvs-with-nix-and-laravel.md
  content/posts/2026-05-05-devenvs-with-nix-and-laravel.md
  devenv.nix
  devenv.yaml
  public/assets/images/nix-meme.jpg
Due: backend-linter

chore: cleanup
  .config/wt.toml
  .mcp.json
  content/posts/2026-05-05-devenvs-with-nix-and-laravel.md
  devenv.nix
  resources/js/pages/uses.tsx
  vite.config.ts
Due: javascript-linter

chore: cleanup
  .claude/settings.json
  .pre-commit-config.yaml
  devenv.lock
  devenv.nix
  devenv.yaml
  lefthook.yml
Due: javascript-linter

chore: audits
  composer.json
  composer.lock
Due: javascript-linter

deps: audit
  package-lock.json
Due: javascript-linter

chore: migrate mcp to devenv
  devenv.nix
Due: none

chore: nuke .mcp.json
  .mcp.json
Due: javascript-linter

chore: cleanup
  .mcp.json
  content/posts/2026-05-05-devenvs-with-nix-and-laravel.md
  devenv.yaml
  package.json
  resources/js/pages/uses.tsx
  vite.config.ts
Due: javascript-linter

ci: migrate to devenv
  .github/workflows/ci.yml
  devenv.nix
Due: none

deps: remove herd
  .claude/settings.json
  .gitignore
  composer.json
  composer.lock
Due: javascript-linter

deps: audit fix
  package-lock.json
Due: javascript-linter

chore: post updates
  content/posts/2026-05-05-devenvs-with-nix-and-laravel.md
  public/assets/images/drew-carey-meme.png
Due: none

chore: grammar pass
  content/posts/2026-05-05-devenvs-with-nix-and-laravel.md
Due: none

docs: publish
  content/posts/2026-05-19-devenvs-with-nix-and-laravel.md
Due: none

docs: update readme
  README.md
Due: none

chore: remove mcp/pre-commit symlinks
  .gitignore
  .mcp.json
  .pre-commit-config.yaml
  devenv.lock
Due: javascript-linter

chore: add notes about other devenv stuff
  content/posts/2026-05-19-devenvs-with-nix-and-laravel.md
Due: none

chore: formatting
  content/posts/2026-05-19-devenvs-with-nix-and-laravel.md
Due: none

docs: cleanup
  README.md
Due: none

chore: darken animated background a bit
  resources/js/layouts/blog-layout.tsx
Due: none

chore: update skills
  .agents/skills/brandkit/SKILL.md
  .agents/skills/design-taste-frontend-v1/SKILL.md
  .agents/skills/full-output-enforcement/SKILL.md
  .agents/skills/gpt-taste/SKILL.md
  .agents/skills/high-end-visual-design/SKILL.md
  .agents/skills/image-to-code/SKILL.md
  .agents/skills/imagegen-frontend-mobile/SKILL.md
  .agents/skills/imagegen-frontend-web/SKILL.md
  .agents/skills/industrial-brutalist-ui/SKILL.md
  .agents/skills/minimalist-ui/SKILL.md
  .agents/skills/redesign-existing-projects/SKILL.md
  .agents/skills/stitch-design-taste/DESIGN.md
  .agents/skills/stitch-design-taste/SKILL.md
  .claude/skills/brandkit
  .claude/skills/design-taste-frontend-v1
  .claude/skills/full-output-enforcement
  .claude/skills/gpt-taste
  .claude/skills/high-end-visual-design
  .claude/skills/image-to-code
  .claude/skills/imagegen-frontend-mobile
  .claude/skills/imagegen-frontend-web
  .claude/skills/industrial-brutalist-ui
  .claude/skills/minimalist-ui
  .claude/skills/redesign-existing-projects
  .claude/skills/stitch-design-taste
  .claude/skills/stop-slop/SKILL.md
  .claude/skills/stop-slop/references/examples.md
  .claude/skills/stop-slop/references/phrases.md
  .claude/skills/stop-slop/references/structures.md
  skills-lock.json
Due: javascript-linter

Path conditions:
  backend-linter: any of: *.php, but not: (^|/)(resources/views/.*\.php|tests/.*\.php)$
  javascript-linter: any of: *.{js,json}
  blade-linter: any of: *.blade.php
