Repository JoeyMckenzie/joeymckenzie.tech: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, javascript-linter, blade-linter

backend-linter:
  run: 'composer run lint {all_files}
  
    composer run rector {all_files}
  
    '
  stage_fixed: true

javascript-linter:
  run: npm run fmt:config {all_files}
  stage_fixed: true

blade-linter:
  run: npm run fmt:config {all_files}
  stage_fixed: true

chore: wip
  peck.json
Due: javascript-linter

chore: wip
  README.md
Due: none

fix: bluesky link previews
  app/Services/BlueskyConnector.php
  app/ValueObjects/BlueskyPostLinkPreview.php
  app/ValueObjects/BlueskyPostMeta.php
  composer.json
  composer.lock
  resources/views/components/bluesky-post.blade.php
Due: backend-linter, javascript-linter, blade-linter

fix: npm package audit
  package-lock.json
Due: javascript-linter

chore: wip
  resources/views/now.blade.php
Due: blade-linter

feat: add phpstan errors post
  content/2025/dynamic-error-assertions-with-phpstan.md
  public/images/dynamic-phpstan-error-assertions/meme.jpg
Due: none

feat: add phpstan errors post
  package-lock.json
Due: javascript-linter

chore: wip
  content/2025/dynamic-error-assertions-with-phpstan.md
Due: none

chore: wip
  resources/views/blog-post.blade.php
Due: blade-linter

chore: wip
  package-lock.json
  resources/css/app.css
Due: javascript-linter

feat: init
  composer.json
  composer.lock
  package-lock.json
Due: javascript-linter

chore: add daisy
  composer.json
  package-lock.json
  package.json
  postcss.config.js
  resources/css/site.css
  resources/css/style.css
  resources/css/tailwind.css
  resources/js/site.js
  resources/views/.gitkeep
  resources/views/_nav.antlers.html
  resources/views/components/_footer.antlers.html
  resources/views/components/_navbar.antlers.html
  resources/views/home.antlers.html
  resources/views/layout.antlers.html
Due: javascript-linter

chore: add prettier
  package-lock.json
  package.json
  prettier.config.js
  resources/blueprints/collections/articles/article.yaml
  resources/blueprints/collections/pages/home.yaml
  resources/blueprints/collections/pages/page.yaml
  resources/blueprints/globals/settings.yaml
  resources/blueprints/taxonomies/topics/topic.yaml
  resources/blueprints/user.yaml
  resources/css/site.css
  resources/js/components/fieldtypes/ExampleFieldtype.vue
  resources/js/site.js
  resources/views/articles/index.antlers.html
  resources/views/articles/show.antlers.html
  resources/views/components/_footer.antlers.html
  resources/views/components/_navbar.antlers.html
  resources/views/default.antlers.html
  resources/views/errors/404.antlers.html
  resources/views/home.antlers.html
  resources/views/layout.antlers.html
  resources/views/page.antlers.html
  resources/views/topics/index.antlers.html
  resources/views/topics/show.antlers.html
Due: javascript-linter

chore: wip
  resources/js/components/fieldtypes/ExampleFieldtype.vue
  resources/js/icons.js
  resources/js/site.js
  resources/views/home.antlers.html
Due: javascript-linter

chore: wip
  composer.json
  composer.lock
  content/collections/blogs.yaml
  content/collections/blogs/2025-05-07.test-blog.md
  content/collections/pages/blog.md
  content/collections/pages/now.md
  content/globals/settings.yaml
  content/navigation/main_nav.yaml
  content/taxonomies/topics/php.yaml
  content/trees/collections/blogs.yaml
  content/trees/collections/pages.yaml
  content/trees/navigation/main_nav.yaml
  public/assets/blog/.gitkeep
  public/assets/blog/.meta/excavators.jpg.yaml
  public/assets/blog/excavators.jpg
  public/vendor/icons-plus/build/assets/addon-0520bdea.css
  public/vendor/icons-plus/build/assets/addon-4ed993c7.js
  public/vendor/icons-plus/build/assets/addon-fc5385ea.js
  public/vendor/icons-plus/build/manifest.json
  resources/blueprints/collections/blogs/blog.yaml
  resources/blueprints/collections/pages/now.yaml
  resources/blueprints/globals/settings.yaml
  resources/blueprints/navigation/main_nav.yaml
  resources/js/icons.js
  resources/views/blogs/index.antlers.html
  resources/views/blogs/partials/_blog-listing.antlers.html
  resources/views/blogs/show.antlers.html
  resources/views/blogs/topics/index.antlers.html
  resources/views/blogs/topics/show.antlers.html
  resources/views/components/_navbar.antlers.html
  resources/views/components/_page-header.antlers.html
  resources/views/default.antlers.html
  resources/views/home.antlers.html
  resources/views/layouts/default.antlers.html
  resources/views/page.antlers.html
  resources/views/pages/default.antlers.html
  users/.gitignore
  users/joey.mckenzie27@gmail.com.yaml
Due: javascript-linter

chore: wip
  content/collections/blogs.yaml
  content/collections/blogs/2025-05-07.test-blog.md
  content/collections/blogs/2025-05-07.test-testy-2.md
  content/collections/pages/blog.md
  content/collections/pages/home.md
  content/collections/pages/now.md
  content/taxonomies/topics/php.yaml
  content/trees/collections/blogs.yaml
  resources/views/blogs/partials/_blog-listing.antlers.html
  resources/views/blogs/show.antlers.html
Due: none

chore: wip
  public/assets/.gitkeep
Due: none

chore: wip
  app/Providers/AppServiceProvider.php
  app/Tags/RenderMarkdown.php
  composer.json
  composer.lock
  config/markdown.php
  resources/blueprints/collections/blogs/blog.yaml
  resources/css/site.css
  resources/views/blogs/show.antlers.html
Due: backend-linter, javascript-linter

chore: wip
  content/collections/blogs/2023-04-05.learning-to-fly-with-rust-and-postgres.md
  content/collections/blogs/2023-12-03.content-driven-websites-with-php-and-laravel.md
  content/taxonomies/topics/laravel.yaml
  content/taxonomies/topics/rust.yaml
  content/trees/collections/blogs.yaml
  public/assets/blog/.meta/content-driven-websites-with-laravel.jpg.yaml
  public/assets/blog/.meta/learning-to-fly-with-rust.jpg.yaml
  public/assets/blog/content-driven-websites-with-laravel.jpg
  public/assets/blog/learning-to-fly-with-rust.jpg
  resources/views/components/_page-header.antlers.html
Due: none

chore: wip
  app/Providers/AppServiceProvider.php
  app/Tags/RenderMarkdown.php
  content/collections/blogs/2023-04-05.learning-to-fly-with-rust-and-postgres.md
  resources/blueprints/collections/blogs/blog.yaml
  resources/views/blogs/show.antlers.html
Due: backend-linter

chore: wip
  resources/views/blogs/partials/_blog-listing.antlers.html
  resources/views/components/_page-header.antlers.html
Due: none

chore: wip
  app/Providers/AppServiceProvider.php
  content/collections/articles.yaml
  content/collections/blogs.yaml
  content/collections/blogs/2023-03-30.going-serverless-with-rust-and-shuttle.md
  content/collections/blogs/2023-04-05.learning-to-fly-with-rust-and-postgres.md
  content/collections/blogs/2023-11-02.rust-aws-lambda-and-too-many-office-quotes.md
  content/collections/blogs/2024-03-15.migrating-to-astro.md
  content/collections/blogs/2025-02-13.adventures-with-php-apis-and-sharing-types-with-phpstan.md
  content/collections/pages/now.md
  content/taxonomies/topics/astro.yaml
  content/trees/collections/blogs.yaml
  public/assets/blog/.meta/migrating-to-astro.jpg.yaml
  public/assets/blog/.meta/rust-lambda-meme.jpg.yaml
  public/assets/blog/.meta/shuttle_dashboard.png.yaml
  public/assets/blog/.meta/shuttle_meme.jpg.yaml
  public/assets/blog/migrating-to-astro.jpg
  public/assets/blog/rust-lambda-meme.jpg
  public/assets/blog/shuttle_dashboard.png
  public/assets/blog/shuttle_meme.jpg
  public/assets/svg/.meta/laravel.svg.yaml
  public/assets/svg/.meta/spotify.svg.yaml
  public/assets/svg/.meta/statamic.svg.yaml
  public/assets/svg/.meta/swatch.svg.yaml
  resources/views/blogs/show.antlers.html
  resources/views/components/_page-header.antlers.html
Due: backend-linter

chore: wip
  content/collections/blogs/2023-03-15.migrating-to-astro.md
  resources/views/blogs/partials/_blog-listing.antlers.html
Due: none

chore: wip
  content/collections/blogs/2022-03-02.react-data-fetching-with-rxjs.md
  content/collections/blogs/2022-09-21.rethinking-exceptions-in-net.md
  content/taxonomies/topics/dance.yaml
  content/taxonomies/topics/react.yaml
  content/taxonomies/topics/sneakers.yaml
  content/taxonomies/topics/soda.yaml
  public/assets/blog/.meta/exceptions_meme.jpg.yaml
  public/assets/blog/.meta/react-data-fetching-meme.jpg.yaml
  public/assets/blog/exceptions_meme.jpg
  public/assets/blog/react-data-fetching-meme.jpg
  resources/views/blogs/index.antlers.html
  resources/views/blogs/partials/_blog-listing.antlers.html
  resources/views/blogs/partials/_blog-preview.antlers.html
  resources/views/blogs/partials/_blog-topics.antlers.html
Due: none

chore: wip
  app/Console/Commands/WarmBlogCacheCommand.php
  composer.json
  composer.lock
  content/collections/blogs/2024-03-05.exploring-developer-experience-with-php-public-apis-and-beer.md
Due: backend-linter, javascript-linter

chore: wip
  app/Console/Commands/WarmBlogCacheCommand.php
  content/collections/articles.yaml
  content/collections/articles/1994-07-05.magic.md
  content/collections/articles/1996-08-16.nectar.md
  content/collections/articles/1996-11-18.dance.md
  content/collections/blogs/2023-04-05.learning-to-fly-with-rust-and-postgres.md
Due: backend-linter

chore: wip
  content/collections/blogs/2021-08-27.build-a-tailwind-modal-with-angular-and-ngrx.md
  public/assets/blog/angular-modals/.gitkeep
  public/assets/blog/angular-modals/.meta/off_the_shelf_modal.jpg.yaml
  public/assets/blog/angular-modals/off_the_shelf_modal.jpg
  public/assets/blog/angular-modals/screen_grab.webm
Due: none

chore: wip
  package-lock.json
  package.json
  resources/js/site.js
  resources/views/layouts/default.antlers.html
Due: javascript-linter

chore: wip
  resources/views/layouts/default.antlers.html
Due: none

chore: wip
  content/collections/blogs/2020-02-02.clean-architecture-dapper-mediatr-and-buzzword-bingo-part-4.md
  content/collections/blogs/2020-09-23.decoupling-controllers-with-apiendpoints.md
  content/collections/blogs/2021-09-03.implementing-dark-mode-in-angular-with-tailwind.md
  content/collections/blogs/2021-11-11.hitchhikers-guide-to-angular-development-with-nx.md
  public/assets/blog/angular-nx-monorepos/.gitkeep
  public/assets/blog/angular-nx-monorepos/.meta/nx-meme.jpg.yaml
  public/assets/blog/angular-nx-monorepos/.meta/todos_dep_graph.png.yaml
  public/assets/blog/angular-nx-monorepos/exploring_nx_todos.webm
  public/assets/blog/angular-nx-monorepos/nx-meme.jpg
  public/assets/blog/angular-nx-monorepos/todos_dep_graph.png
  public/assets/blog/angular-tailwind-dark-mode/.gitkeep
  public/assets/blog/angular-tailwind-dark-mode/.meta/dark-mode-toggle.webm.yaml
  public/assets/blog/angular-tailwind-dark-mode/.meta/tailwind-dark-mode-meme.jpg.yaml
  public/assets/blog/angular-tailwind-dark-mode/dark-mode-toggle.webm
  public/assets/blog/angular-tailwind-dark-mode/tailwind-dark-mode-meme.jpg
  public/assets/blog/dotnet-decoupling-controllers/.gitkeep
  public/assets/blog/dotnet-decoupling-controllers/.meta/api-endpoints-nuget.png.yaml
  public/assets/blog/dotnet-decoupling-controllers/.meta/friends-business-logic.jpg.yaml
  public/assets/blog/dotnet-decoupling-controllers/.meta/new-project.png.yaml
  public/assets/blog/dotnet-decoupling-controllers/api-endpoints-nuget.png
  public/assets/blog/dotnet-decoupling-controllers/friends-business-logic.jpg
  public/assets/blog/dotnet-decoupling-controllers/new-project.png
  public/assets/blog/dotnet-mediatr/.gitkeep
  public/assets/blog/dotnet-mediatr/.meta/use-automapper-meme.jpeg.yaml
  public/assets/blog/dotnet-mediatr/use-automapper-meme.jpeg
Due: none

chore: wip
  .gitignore
  public/assets/blog/.meta/dependencies_meme.png.yaml
  public/assets/blog/dependencies_meme.png
  public/assets/blog/dotnet-blazor-state-management/.gitkeep
  public/assets/blog/dotnet-blazor-state-management/.meta/blazor_meme_part_1.png.yaml
  public/assets/blog/dotnet-blazor-state-management/.meta/create_todo_form.png.yaml
  public/assets/blog/dotnet-blazor-state-management/.meta/facade_redirection.png.yaml
  public/assets/blog/dotnet-blazor-state-management/.meta/flux-in-a-nutshell.png.yaml
  public/assets/blog/dotnet-blazor-state-management/.meta/flux-in-a-nutshell_resized.png.yaml
  public/assets/blog/dotnet-blazor-state-management/.meta/fluxor_meme_small.jpg.yaml
  public/assets/blog/dotnet-blazor-state-management/blazor_meme_part_1.png
  public/assets/blog/dotnet-blazor-state-management/create_todo_form.png
  public/assets/blog/dotnet-blazor-state-management/facade_redirection.png
  public/assets/blog/dotnet-blazor-state-management/flux-in-a-nutshell.png
  public/assets/blog/dotnet-blazor-state-management/flux-in-a-nutshell_resized.png
  public/assets/blog/dotnet-blazor-state-management/fluxor_meme_small.jpg
  public/assets/blog/dotnet-service-lifetimes/.gitkeep
  resources/views/blogs/partials/_blog-topics.antlers.html
Due: none

chore: wip
  public/assets/blog/.meta/code_quality.png.yaml
  public/assets/blog/.meta/compiler_complaint.png.yaml
  public/assets/blog/code_quality.png
  public/assets/blog/compiler_complaint.png
  public/assets/blog/dotnet-mediatr/.meta/beer-background-dappery.jpg.yaml
  public/assets/blog/dotnet-mediatr/.meta/finished-domain-layer.png.yaml
  public/assets/blog/dotnet-mediatr/.meta/inward_dependencies.png.yaml
  public/assets/blog/dotnet-mediatr/.meta/project-dtos-in-place.png.yaml
  public/assets/blog/dotnet-mediatr/.meta/project-setup.png.yaml
  public/assets/blog/dotnet-mediatr/.meta/shouldly-xunit-meme.jpeg.yaml
  public/assets/blog/dotnet-mediatr/.meta/structure_as_of.png.yaml
  public/assets/blog/dotnet-mediatr/.meta/structure_so_far.png.yaml
  public/assets/blog/dotnet-mediatr/beer-background-dappery.jpg
  public/assets/blog/dotnet-mediatr/finished-domain-layer.png
  public/assets/blog/dotnet-mediatr/inward_dependencies.png
  public/assets/blog/dotnet-mediatr/project-dtos-in-place.png
  public/assets/blog/dotnet-mediatr/project-setup.png
  public/assets/blog/dotnet-mediatr/shouldly-xunit-meme.jpeg
  public/assets/blog/dotnet-mediatr/structure_as_of.png
  public/assets/blog/dotnet-mediatr/structure_so_far.png
Due: none

chore: wip
  app/Console/Commands/WarmBlogCacheCommand.php
  composer.json
Due: backend-linter, javascript-linter

chore: wip
  content/collections/blogs/2019-10-04.clean-architecture-dapper-mediatr-and-buzzword-bingo-part-1.md
  content/collections/blogs/2019-10-06.clean-architecture-dapper-mediatr-and-buzzword-bingo-part-2.md
  content/collections/blogs/2019-11-05.nullable-reference-types-and-designing-with-intent.md
  content/collections/blogs/2019-11-19.clean-architecture-dapper-mediatr-and-buzzword-bingo-part-3.md
  content/collections/blogs/2020-06-26.state-management-with-blazor-using-fluxor-part-1.md
  content/collections/blogs/2020-07-26.state-management-with-blazor-using-fluxor-part-2.md
  content/collections/blogs/2023-08-23.net-core-service-lifetimes-in-a-nutshell.md
Due: none

Path conditions:
  backend-linter: any of: *.php, but not: (^|/)(resources/views/.*\.php|tests/.*\.php)$
  javascript-linter: any of: *.{js,json}
  blade-linter: any of: *.blade.php
