Repository JoeyMckenzie/joeymckenzie.tech: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, javascript-linter, blade-linter

lefthook.yml:

pre-commit:
  commands:
    backend-linter:
      glob: "*.php"
      exclude: '(^|/)(resources/views/.*\.php|tests/.*\.php)$'
      run: |
        composer run lint {all_files}
        composer run rector {all_files}
      stage_fixed: true
    javascript-linter:
      glob: "*.{js,json}"
      run: npm run fmt:config {all_files}
      stage_fixed: true
    blade-linter:
      glob: "*.blade.php"
      run: npm run fmt:config {all_files}
      stage_fixed: true

pre-push:
  commands:
    ci:
      run: |
        composer run ci
        composer run test

chore: wip
  .githooks/pre-push
  app/Models/Feedback.php
  app/Models/Keyword.php
  app/Models/Note.php
  app/Models/Post.php
  app/Models/User.php
  public/js/filament/forms/components/file-upload.js
Due: backend-linter, javascript-linter

chore: wip
  examples/php/Iterators/Beer.php
  examples/php/Iterators/BeerBuilder.php
  examples/php/Iterators/BeerCollection.php
  examples/php/runner.php
  package.json
Due: backend-linter, javascript-linter

chore: wip
  app/Models/Keyword.php
  app/Models/Post.php
  app/Providers/Filament/AdminPanelServiceProvider.php
Due: backend-linter

chore: wip
  examples/php/Iterators/Beer.php
  package-lock.json
Due: backend-linter, javascript-linter

chore: wip
  app/Contracts/ContentUtilityContract.php
  app/Services/MarkdownContentUtility.php
  app/ValueObjects/ContentMeta.php
  app/ValueObjects/FrontMatter.php
  composer.json
  composer.lock
  package-lock.json
  package.json
  resources/css/app.css
Due: backend-linter, javascript-linter

chore: wip
  .DS_Store
  .phpstorm.meta.php
  _ide_helper.php
  app/Console/Commands/SyncContentCommand.php
  app/Http/Controllers/BlogController.php
  app/Http/Controllers/HomeController.php
  app/Models/Keyword.php
  app/Models/Post.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  config/socials.php
  database/migrations/2025_02_12_063113_create_posts_table.php
  database/migrations/2025_02_12_063119_create_keywords_table.php
  database/migrations/2025_02_12_063128_create_keyword_post_table.php
  resources/views/blog-post.blade.php
  resources/views/blog.blade.php
  resources/views/components/header.blade.php
  resources/views/index.blade.php
  resources/views/now.blade.php
  routes/web.php
  storage/debugbar/.gitignore
Due: backend-linter, javascript-linter, blade-linter

chore: wip
  resources/views/blog-post.blade.php
  resources/views/index.blade.php
Due: blade-linter

chore: wip
  resources/views/blog.blade.php
Due: blade-linter

chore: wip
  .DS_Store
  .gitignore
Due: none

chore: wip
  resources/views/index.blade.php
Due: blade-linter

chore: wip
  .gitignore
  .phpstorm.meta.php
  _ide_helper.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  captainhook.json
  composer.json
  composer.lock
  config/app.php
  config/logging.php
  config/mail.php
  database/factories/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/0001_01_01_000001_create_cache_table.php
  database/migrations/0001_01_01_000002_create_jobs_table.php
  database/migrations/2025_02_12_200125_create_office_quotes_table.php
  database/seeders/OfficeQuoteSeeder.php
  peck.json
  routes/console.php
  tests/Feature/ExampleTest.php
  tests/Pest.php
  tests/Unit/ExampleTest.php
Due: backend-linter, javascript-linter

chore: wip
  .env.ci
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/fix-php-code-style-issues.yml
  .github/workflows/run-ci.yml
  composer.json
  package-lock.json
  package.json
  prettier.config.js
  resources/views/blog-post.blade.php
  resources/views/blog.blade.php
  resources/views/index.blade.php
Due: javascript-linter, blade-linter

chore: wip
  README.md
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Due: javascript-linter

chore: wip
  resources/views/components/office-quote.blade.php
  resources/views/index.blade.php
Due: blade-linter

chore: wip
  app/Http/Controllers/BlogController.php
  content/draft/dynamic-sitemaps-with-leptos.md
  content/draft/sharing-types-with-phpstan.md
  content/draft/shiki-rust-content-highlighting.md
  public/images/phpstan-sharing-types/meme.jpeg
  resources/views/blog.blade.php
Due: backend-linter, blade-linter

chore: wip
  content/2025/adventures-with-php-apis-and-sharing-types-with-phpstan.md
  resources/views/blog.blade.php
Due: blade-linter

chore: wip
  resources/css/app.css
Due: none

chore: wip
  composer.lock
  resources/views/components/header.blade.php
Due: blade-linter

chore: wip
  .githooks/pre-commit.sh
  app/Contracts/BlueskyConnectorContract.php
  app/Services/BlueskyConnector.php
  app/View/Components/BlueskyPost.php
  config/bluesky.php
  config/spotify.php
  package-lock.json
  resources/css/app.css
  resources/css/bluesky-post.css
  resources/views/components/bluesky-post.blade.php
  resources/views/components/header.blade.php
  resources/views/index.blade.php
Due: backend-linter, javascript-linter, blade-linter

chore: wip
  .githooks/pre-commit
  app/Services/BlueskyConnector.php
Due: backend-linter

chore: wip
  .githooks/pre-commit
Due: none

chore: wip
  .githooks/commit-msg
  .githooks/pre-push
  bin/validate
Due: none

chore: wip
  app/Contracts/BlueskyConnectorContract.php
  app/Http/Controllers/HomeController.php
  app/Providers/AppServiceProvider.php
  app/Services/BlueskyConnector.php
  app/ValueObjects/BlueskyPostMeta.php
  app/View/Components/BlueskyPost.php
  composer.json
  config/bluesky.php
  config/socials.php
  resources/css/bluesky-post.css
  resources/views/components/bluesky-post.blade.php
  resources/views/index.blade.php
Due: backend-linter, javascript-linter, blade-linter

chore: wip
  captainhook.json
  composer.json
  composer.lock
  peck.json
Due: javascript-linter

chore: wip
  package-lock.json
  package.json
Due: javascript-linter

chore: wip
  .github/workflows/run-ci.yml
Due: none

chore: wip
  app/Http/Controllers/BlogController.php
  composer.json
  composer.lock
  resources/views/blog-post.blade.php
  resources/views/blog.blade.php
Due: backend-linter, javascript-linter, blade-linter

chore: wip
  database/migrations/2025_02_19_054026_create_pan_analytics_table.php
Due: backend-linter

chore: wip
  resources/views/components/header.blade.php
Due: blade-linter

chore: wip
  .gitignore
  app/Http/Controllers/BlogController.php
  app/Models/Keyword.php
  app/Models/OfficeQuote.php
  app/Models/PanAnalytic.php
  app/Models/Post.php
  app/Models/User.php
  app/ValueObjects/PostPreview.php
  composer.json
  phpstan.neon
  resources/views/blog.blade.php
Due: backend-linter, javascript-linter, blade-linter

chore: fix styling
  app/Http/Controllers/BlogController.php
Due: backend-linter

chore: wip
  resources/css/app.css
  resources/fonts/Geist/Geist[wght].woff2
  resources/fonts/GeistMono/GeistMono[wght].woff2
  resources/views/blog-post.blade.php
  vite.config.js
Due: javascript-linter, blade-linter

chore: wip
  composer.json
Due: javascript-linter

chore: wip
  README.md
  app/Contracts/MusicTrackerContract.php
  app/Providers/AppServiceProvider.php
  app/Services/SpotifyTracker.php
  app/ValueObjects/NowPlaying.php
  app/ValueObjects/SpotifyAuthApiResponse.php
  app/ValueObjects/SpotifyNowPlayingApiResponse.php
  app/View/Components/SpotifyCurrentlyListening.php
  app/View/Components/SpotifyNowPlaying.php
  resources/css/app.css
  resources/fonts/Geist/Geist[wght].woff2
  resources/fonts/GeistMono/GeistMono[wght].woff2
  resources/views/components/footer.blade.php
  resources/views/components/layout.blade.php
  resources/views/components/spotify-currently-listening.blade.php
  resources/views/components/spotify-not-playing.blade.php
  resources/views/components/spotify-now-playing.blade.php
  resources/views/index.blade.php
  vite.config.js
Due: backend-linter, javascript-linter, blade-linter
