Repository JoeyMckenzie/joeymckenzie.tech: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, javascript-linter, blade-linter

lefthook.yml:

pre-commit:
  commands:
    backend-linter:
      glob: "*.php"
      exclude: '(^|/)(resources/views/.*\.php|tests/.*\.php)$'
      run: |
        composer run lint {all_files}
        composer run rector {all_files}
      stage_fixed: true
    javascript-linter:
      glob: "*.{js,json}"
      run: npm run fmt:config {all_files}
      stage_fixed: true
    blade-linter:
      glob: "*.blade.php"
      run: npm run fmt:config {all_files}
      stage_fixed: true

pre-push:
  commands:
    ci:
      run: |
        composer run ci
        composer run test

chore: wip
  .gitignore
  resources/views/livewire/pages/home.blade.php
  storage/debugbar/.gitignore
Due: blade-linter

chore: wip
  .gitignore
  .junie/guidelines.md
  AGENTS.md
  CLAUDE.md
  app/Livewire/Pages/BlogPost.php
  app/Services/CommonMarkHighlighter.php
  boost.json
  composer.json
  composer.lock
  package-lock.json
  package.json
  resources/css/app.css
  resources/views/livewire/pages/blog-post.blade.php
Due: backend-linter, javascript-linter, blade-linter

chore: bring over all posts
  .junie/guidelines.md
  AGENTS.md
  CLAUDE.md
  app/Livewire/Pages/Home.php
  app/Models/Post.php
  composer.json
  composer.lock
  config/database.php
  content/posts/2019-10-04-clean-architecture-dapper-mediatr-and-buzzword-bingo-part-1.md
  content/posts/2019-10-06-clean-architecture-dapper-mediatr-and-buzzword-bingo-part-2.md
  content/posts/2019-11-05.nullable-reference-types-and-designing-with-intent.md
  content/posts/2019-11-19.clean-architecture-dapper-mediatr-and-buzzword-bingo-part-3.md
  content/posts/2020-02-02.clean-architecture-dapper-mediatr-and-buzzword-bingo-part-4.md
  content/posts/2020-06-26.state-management-with-blazor-using-fluxor-part-1.md
  content/posts/2020-07-26.state-management-with-blazor-using-fluxor-part-2.md
  content/posts/2020-09-23.decoupling-controllers-with-apiendpoints.md
  content/posts/2021-08-27.build-a-tailwind-modal-with-angular-and-ngrx.md
  content/posts/2021-09-03.implementing-dark-mode-in-angular-with-tailwind.md
  content/posts/2021-11-11.hitchhikers-guide-to-angular-development-with-nx.md
  content/posts/2022-02-22.jamstack-angular-apps-with-scully-and-netlify.md
  content/posts/2022-03-02.react-data-fetching-with-rxjs.md
  content/posts/2022-09-21.rethinking-exceptions-in-net.md
  content/posts/2022-11-03.constructing-objects-with-intent.md
  content/posts/2023-03-15.migrating-to-astro.md
  content/posts/2023-03-30.going-serverless-with-rust-and-shuttle.md
  content/posts/2023-04-05.learning-to-fly-with-rust-and-postgres.md
  content/posts/2023-05-23.ziggin-around-with-linked-lists.md
  content/posts/2023-07-11.back-to-the-server-with-rust-axum-and-htmx.md
  content/posts/2023-08-23.net-core-service-lifetimes-in-a-nutshell.md
  content/posts/2023-11-02.rust-aws-lambda-and-too-many-office-quotes.md
  content/posts/2023-12-03.content-driven-websites-with-php-and-laravel.md
  content/posts/2024-03-05.exploring-developer-experience-with-php-public-apis-and-beer.md
  content/posts/2024-03-20.dapper-multi-mapping-relationships-and-value-equality.md
  content/posts/2025-02-13.adventures-with-php-apis-and-sharing-types-with-phpstan.md
  content/posts/2025-03-11.dynamic-error-assertions-with-phpstan.md
  content/posts/2025-05-11.content-caching-with-statamic.md
  content/posts/2025-05-20.parallel-testing-with-pest-and-sqlite.md
  content/posts/2025-09-24.strictly-speaking-with-php-strict.md
Due: backend-linter, javascript-linter

chore: wip
  .junie/guidelines.md
  AGENTS.md
  CLAUDE.md
  app/Models/Tag.php
  boost.json
  content/posts/2019-10-06-clean-architecture-dapper-mediatr-and-buzzword-bingo-part-2.md
  content/posts/2019-11-05-nullable-reference-types-and-designing-with-intent.md
  content/posts/2019-11-05.nullable-reference-types-and-designing-with-intent.md
  content/posts/2019-11-19-clean-architecture-dapper-mediatr-and-buzzword-bingo-part-3.md
  content/posts/2020-02-02-clean-architecture-dapper-mediatr-and-buzzword-bingo-part-4.md
  content/posts/2020-06-26-state-management-with-blazor-using-fluxor-part-1.md
  content/posts/2020-07-26-state-management-with-blazor-using-fluxor-part-2.md
  content/posts/2020-09-23-decoupling-controllers-with-apiendpoints.md
  content/posts/2021-08-27-build-a-tailwind-modal-with-angular-and-ngrx.md
  content/posts/2021-09-03-implementing-dark-mode-in-angular-with-tailwind.md
  content/posts/2021-11-11-hitchhikers-guide-to-angular-development-with-nx.md
  content/posts/2022-02-22-jamstack-angular-apps-with-scully-and-netlify.md
  content/posts/2022-03-02-react-data-fetching-with-rxjs.md
  content/posts/2022-09-21-rethinking-exceptions-in-net.md
  content/posts/2022-11-03-constructing-objects-with-intent.md
  content/posts/2023-03-15-migrating-to-astro.md
  content/posts/2023-03-30-going-serverless-with-rust-and-shuttle.md
  content/posts/2023-04-05-learning-to-fly-with-rust-and-postgres.md
  content/posts/2023-05-23-ziggin-around-with-linked-lists.md
  content/posts/2023-07-11-back-to-the-server-with-rust-axum-and-htmx.md
  content/posts/2023-08-23-net-core-service-lifetimes-in-a-nutshell.md
  content/posts/2023-11-02-rust-aws-lambda-and-too-many-office-quotes.md
  content/posts/2023-12-03-content-driven-websites-with-php-and-laravel.md
  content/posts/2024-03-05-exploring-developer-experience-with-php-public-apis-and-beer.md
  content/posts/2024-03-20-dapper-multi-mapping-relationships-and-value-equality.md
  content/posts/2025-02-13-adventures-with-php-apis-and-sharing-types-with-phpstan.md
  content/posts/2025-03-11-dynamic-error-assertions-with-phpstan.md
  content/posts/2025-05-11-content-caching-with-statamic.md
  content/posts/2025-05-20-parallel-testing-with-pest-and-sqlite.md
  content/posts/2025-09-24-strictly-speaking-with-php-strict.md
  resources/css/app.css
  resources/views/livewire/pages/blog-post.blade.php
Due: backend-linter, javascript-linter, blade-linter

chore: wip
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogPost.php
  app/Queries/AllPostsQuery.php
  app/Queries/Queryable.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/pages/home.blade.php
  routes/web.php
Due: backend-linter, blade-linter

chore: wip
  app/Services/CommonMarkHighlighter.php
  content/posts/2025-05-20-parallel-testing-with-pest-and-sqlite.md
  content/posts/2025-09-24-joyful-facades-and-how-to-write-them.md
  content/posts/2025-09-24-strictly-speaking-with-php-strict.md
Due: backend-linter

chore: wip
  .junie/guidelines.md
  AGENTS.md
  CLAUDE.md
  boost.json
  composer.lock
  content/posts/2025-05-20-parallel-testing-with-pest-and-sqlite.md
Due: javascript-linter

chore: wip
  app/Models/Post.php
  app/Queries/AllPostsQuery.php
  app/Queries/Contracts/Queryable.php
Due: backend-linter

chore: wip
  app/Livewire/Pages/Now.php
  resources/css/app.css
  resources/views/components/layout.blade.php
  resources/views/components/social-links.blade.php
  resources/views/livewire/components/navbar.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/pages/home.blade.php
  resources/views/livewire/pages/now.blade.php
  routes/web.php
Due: backend-linter, blade-linter

chore: wip
  app/Livewire/Components/Navbar.php
  resources/views/components/layout.blade.php
  resources/views/components/preview-posts.blade.php
  resources/views/livewire/components/navbar.blade.php
Due: backend-linter, blade-linter

chore: wip
  .junie/guidelines.md
  AGENTS.md
  CLAUDE.md
  app/Data/Concerns/Defaultable.php
  app/Data/Concerns/MappableResponse.php
  app/Data/Spotify/AuthResponse.php
  app/Data/Spotify/NowPlayingResponse.php
  app/Livewire/Components/SpotifyPlayer.php
  app/Services/Spotify/FakeConnector.php
  app/Services/Spotify/SpotifyConnector.php
  app/Services/Spotify/SpotifyConnectorContract.php
  app/Support/Spotify.php
  boost.json
  config/services.php
  resources/css/app.css
  resources/views/components/footer.blade.php
  resources/views/components/icons/laravel.blade.php
  resources/views/components/layout.blade.php
  resources/views/components/page-header.blade.php
  resources/views/components/powered-by.blade.php
  resources/views/components/social-links.blade.php
  resources/views/livewire/components/spotify-now-listening.blade.php
  resources/views/livewire/components/spotify-silent.blade.php
  resources/views/livewire/components/spotify-status.blade.php
  resources/views/livewire/pages/blog-post.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/pages/home.blade.php
  resources/views/livewire/pages/now.blade.php
Due: backend-linter, javascript-linter, blade-linter

chore: wip
  app/Data/Spotify/SpotifySynthesizer.php
  app/Livewire/Components/SpotifyPlayer.php
  app/Providers/AppServiceProvider.php
  app/Support/Spotify.php
  resources/views/components/footer.blade.php
  resources/views/components/icons/spotify.blade.php
  resources/views/components/layout.blade.php
  resources/views/components/spotify-now-listening.blade.php
  resources/views/components/spotify-silent.blade.php
  resources/views/livewire/components/spotify-now-listening.blade.php
  resources/views/livewire/components/spotify-player.blade.php
  resources/views/livewire/components/spotify-silent.blade.php
  resources/views/livewire/components/spotify-status.blade.php
Due: backend-linter, blade-linter

chore: wip
  app/Data/Spotify/NowPlayingResponse.php
  app/Data/Spotify/SpotifySynthesizer.php
  resources/views/components/powered-by.blade.php
  resources/views/components/spotify-now-listening.blade.php
  resources/views/components/spotify-silent.blade.php
  resources/views/livewire/components/spotify-player.blade.php
Due: backend-linter, blade-linter

chore: wip
  resources/views/components/spotify-now-listening.blade.php
  resources/views/components/spotify-silent.blade.php
Due: blade-linter

chore: wip
  app/Models/Tag.php
  resources/css/app.css
  resources/views/components/preview-posts.blade.php
  resources/views/livewire/pages/blog-post.blade.php
Due: backend-linter, blade-linter

chore: wip
  resources/css/app.css
  resources/views/components/footer.blade.php
  resources/views/components/preview-posts.blade.php
  resources/views/livewire/pages/blog-post.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/pages/home.blade.php
  resources/views/livewire/pages/now.blade.php
Due: blade-linter

chore: wip
  resources/views/livewire/pages/now.blade.php
Due: blade-linter

chore: wip
  composer.json
Due: javascript-linter

chore: wip
  resources/views/livewire/pages/home.blade.php
  resources/views/livewire/pages/now.blade.php
Due: blade-linter

chore: wip
  app/Queries/AllPostsQuery.php
  app/Support/Spotify.php
Due: backend-linter

chore: wip
  app/Models/Post.php
  app/Models/Tag.php
  app/Queries/AllPostsQuery.php
  content/posts/2025-09-24-joyful-facades-and-how-to-write-them.md
Due: backend-linter

chore: wip
  app/Models/Post.php
  app/Queries/AllPostsQuery.php
Due: backend-linter

chore: wip
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogPost.php
  app/Livewire/Pages/Home.php
  app/Livewire/Pages/Now.php
Due: backend-linter

chore: wip
  resources/views/components/layout.blade.php
Due: blade-linter

chore: wip
  phpstan.neon
  resources/views/components/layout.blade.php
Due: blade-linter

chore: wip
  app/Models/Post.php
  app/Queries/AllPostsQuery.php
  phpstan.neon
Due: backend-linter

chore: wip
  resources/views/components/footer.blade.php
Due: blade-linter

chore: wip
  app/Models/Post.php
  app/Queries/AllPostsQuery.php
  tests/Feature/AllPostsQueryTest.php
Due: backend-linter

chore: wip
  phpstan.neon
  tests/Queries/AllPostsQueryTest.php
Due: none

chore: wip
  tests/Queries/AllPostsQueryTest.php
Due: none

chore: idk
  .junie/guidelines.md
  AGENTS.md
  CLAUDE.md
  app/Concerns/ArraySchemeable.php
  app/Concerns/Cloneable.php
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogPost.php
  app/Services/Sitemapper.php
  app/Support/Seo/StructuredData.php
  app/Support/Seo/StructuredDataBuilder.php
  boost.json
  composer.json
  composer.lock
  phpstan.neon
  public/robots.txt
  resources/views/components/layout.blade.php
  routes/web.php
Due: backend-linter, javascript-linter, blade-linter

chore: idk
  app/Support/Seo/StructuredData.php
Due: backend-linter

chore: wip
  app/Livewire/Pages/BlogPost.php
  app/Support/Seo/StructuredData.php
  app/Support/Seo/StructuredDataBuilder.php
  resources/views/livewire/pages/blog-post.blade.php
Due: backend-linter, blade-linter

chore: wip
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogPost.php
Due: backend-linter

chore: wip
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/Home.php
  app/Livewire/Pages/Now.php
  app/Services/Sitemapper.php
  app/Support/Seo/StructuredData.php
  content/posts/2025-09-24-joyful-facades-and-how-to-write-them.md
  phpstan-baseline.neon
  phpstan.neon
  tests/Queries/AllPostsQueryTest.php
Due: backend-linter
